@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1);
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
}

.swiper-pagination {
  color: white !important;
}
